{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome to BreakPoint{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="images">
                <a href="{%url 'welcome'%}" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" height="40">
                </a>
                <img src="{% static 'images/Breakpoint.webp' %}" alt="Breakpoint" height="40">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'welcome' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="#">Rankings</a></li>
                <li><a href="#">Match</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'join' %}">Join</a></li>
                {% endif %}
                
                
                
            </ul>
        </div>
    </nav>

    <div class="content">
    {% block content %}
    {% if messages %}
        <ul class = "no-bullets">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endblock %}
    </div>
</body>
</html>
